@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (min-device-width: 200px) and (max-device-width: 480px) {
  body {
    background-color: #070928;
    color: #0F4D80;
  }
  .navBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #070928;
    color: #0F4D80;
    max-width: 100%;
    height: 2.8rem;
  }
  .containerNavBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100vw;
    height: 10%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 0.8em;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: url("../img/fondo1.jpg");
    border-radius: 0 0 8px 8px;
    background-position: center;
    background-size: cover;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 70vh;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  header .headerStyle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  header .headerStyle img {
    max-width: 150px;
  }
  .mobileSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    width: 100vw;
  }
  .paises {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 8rem;
  }
  .btnSwipe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100px;
    padding: 8px;
    border-radius: 12px;
    border: 2px solid #0F4D80;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    cursor: pointer;
  }
  .btnSwipe a {
    text-decoration: none;
    color: white;
  }
  .btnContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-transition: width .3s linear;
    transition: width .3s linear;
  }
  .btn {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100vw;
    height: 15vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 1.4rem;
    color: white;
    letter-spacing: 3px;
    -webkit-box-shadow: 0px -50px 50px black inset;
            box-shadow: 0px -50px 50px black inset;
  }
  .btn:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .slider {
    position: relative;
  }
  .stages {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
  }
  .stages:first-child,
  .stages:target {
    opacity: 1;
    z-index: 1;
  }
  .brasil {
    background-image: url("../img/america/brasil/tucan.jpeg");
    background-position: center;
    background-size: cover;
  }
  .disney {
    background-image: url("../img/america/usa/disney3.jpeg");
    background-position: center;
    background-size: cover;
  }
  .chile {
    background-image: url("../img/america/chile/islapascua.jpeg");
    background-position: center;
    background-size: cover;
  }
  .cuba {
    background-image: url("../img/america/cuba/habana.jpeg");
    background-position: center;
    background-size: cover;
  }
  .iguazu {
    background-image: url("../img/arg/iguazu.jpeg");
    background-position: center;
    background-size: cover;
  }
  .calafate {
    background-image: url("../img/arg/glaciar.jpeg");
    background-position: center;
    background-size: cover;
  }
  .mendoza {
    background-image: url("../img/arg/mendoza.jpeg");
    background-position: center;
    background-size: cover;
  }
  .barilo {
    background-image: url("../img/arg/bariloche.jpeg");
    background-position: center;
    background-size: cover;
  }
  .suiza {
    background-image: url("../img/europa/suiza.jpeg");
    background-position: center;
    background-size: cover;
  }
  .francia {
    background-image: url("../img/europa/francia.jpeg");
    background-position: center;
    background-size: cover;
  }
  .italia {
    background-image: url("../img/europa/italia.jpeg");
    background-position: center;
    background-size: cover;
  }
  .portugal {
    background-image: url("../img/europa/portugal.jpeg");
    background-position: center;
    background-size: cover;
  }
  .completeHeight {
    height: 100vh;
  }
}

@media only screen and (min-device-width: 481px) {
  .navBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #CBB7AE;
    color: #0F4D80;
    max-width: 100%;
    padding: 0.3rem;
  }
  .navBar :first-of-type {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navBar .containerNavBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100;
    padding: 0 1.5rem 0 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 90vh;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  body {
    background-color: #CBB7AE;
  }
  .completeHeight {
    height: 100vh;
  }
}

.centrado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
}

.text {
  font-family: 'Libre Baskerville', serif;
  font-size: 1rem;
  font-weight: 400;
}

@media only screen and (min-device-width: 20px) and (max-device-width: 480px) {
  .nav {
    width: 100%;
    position: relative;
  }
  .icon-menu {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    border-style: solid;
    border-width: 3px;
    border-color: #0F4D80;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    margin: 2px 0 0 2px;
  }
  .menu {
    height: 0;
    overflow: hidden;
    -webkit-transition: height .3s linear;
    transition: height .3s linear;
    margin-top: 5px;
  }
  .aparecer {
    height: 300px;
  }
  .enlace {
    display: block;
    text-align: center;
    padding: 20px;
    background: #0F4D80;
    color: white;
    text-decoration: none;
  }
  .enlace:hover {
    background: white;
    color: #0F4D80;
  }
  .seleccion {
    background: white;
    color: #0F4D80;
  }
}
/*# sourceMappingURL=principal.css.map */